.color {
  --color: var(--color-black);
  color: var(--color);
}

.bg-color {
  --bg-color: var(--color-white);
  background: var(--bg-color);
}

// Generate the color class dynamically
// ----------------------------------------------------------

@each $name, $value in $colors {
  .color--#{$name} {
    --color: #{$value};
  }

  .bg-color--#{$name} {
    --bg-color: #{$value};
  }
}