.fs {
  --font-scale: ;
  font-size: var(--font-scale);
}

// Generate the font class dynamically
// ----------------------------------------------------------

@each $name, $value in $font-size {
  .fs--#{$name} {
    --font-scale: clamp(#{nth($value, 1)}, 5vw, #{nth($value, 2)})
  }
}

.title {
  font-family: 'Bebas Neue', cursive;
  line-height: 1;
}